.App {
  height: 100vh;
  /* width: 1280px; */
  width: 100%;
  /* min-height: 100%; */
  image-rendering: pixelated;
  overflow-y: hidden;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

div {
  display: flex;
}

#root {
  height: 100%;
}

.white {
  color: #fff;
}

@font-face {
  src: url('fonts/Microgramma-Bold-Font.ttf') format("truetype");
  font-family: 'Microgramma';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Levi.ttf') format("truetype");
  font-family: 'Levi';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/aptos-mono.ttf') format("truetype");
  font-family: 'AptosMono';
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.5em;
}

@font-face {
  src: url('fonts/aptos.ttf') format("truetype");
  font-family: 'Aptos';
  font-style: normal;
  font-weight: normal;
}

.blinking-cursor {
  background-color: #fff;
  width: 0.8em;
  height: 0.15em;
  -webkit-animation: 0.65s blink step-end infinite;
  -moz-animation: 0.65s blink step-end infinite;
  -ms-animation: 0.65s blink step-end infinite;
  -o-animation: 0.65s blink step-end infinite;
  animation: 0.65s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
      background-color: transparent;
  }
  50% {
      background-color: white;
  }
}

@-moz-keyframes blink {
  from,
  to {
      background-color: transparent;
  }
  50% {
      background-color: white;
  }
}

@-webkit-keyframes blink {
  from,
  to {
      background-color: transparent;
  }
  50% {
      background-color: white;
  }
}

@-ms-keyframes blink {
  from,
  to {
      background-color: transparent;
  }
  50% {
      background-color: white;
  }
}

@-o-keyframes blink {
  from,
  to {
      background-color: transparent;
  }
  50% {
      background-color: white;
  }
}
.text-block {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

h1 {
  font-family: Microgramma, sans-serif;
  font-size: 72px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: Microgramma, sans-serif;
    font-size: 48px;
  }
  p {
    font-family: "AptosMono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0; 
    letter-spacing: -0.05em;
    margin-left: 4px;
    margin-right: 4px;
  
  }
}

h2 {
  font-family: "AptosMono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: -0.05em;
}

h3 {
  font-family: "AptosMono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: -0.05em;}

h4 {
  font-family: "AptosMono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  /* letter-spacing: 0px; */
  letter-spacing: -0.05em;
}

li {
  margin-bottom: 16px;
}

p {
  font-family: "AptosMono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0; 
  letter-spacing: -0.05em;

}

a {
  font-family: "AptosMono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0; 
  letter-spacing: -0.05em;

}

p.osText {
  font-family: "Levi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0;
}

br { 
  display: block; 
  margin-bottom: 0em; 
  margin-top: 0em; 
} 
@supports (-moz-appearance:none) {
  br { 
    display: block; 
    margin-bottom: 1em; 
    margin-top: 1em; 
  } 
}

.div scanlines {
  position:  absolute;
  width: '100%';
  height: '100%';
  &.scanlines {
    position: absolute;
  }
}

.jpg {
  background: url('https://pompompom.mehdi.cc/crt-art-for-scanlines.jpg') no-repeat;
  background-size: cover;
}

/* REGULAR SCANLINES SETTINGS */

:root {
  --scan-width: 2px;
  --scan-color: rgba(105, 105, 105, 0.253);
  --scan-z-index: 2147483648;
  --scan-opacity: 0.75;
}

/* Define the keyframes for the scanlines animation */
@keyframes scanlines {
  /* Add your keyframes here */
}

/* Define the keyframes for the scanline animation */
@keyframes scanline {
  /* Add your keyframes here */
}

/* Apply the scanlines animation to elements with the "scan-crt" class */
.scan-crt {
  animation: scanlines 1s steps(60) infinite;
}

/* Apply the scanline animation to elements with the "scan-moving" class */
.scan-moving {
  animation: scanline 6s linear infinite;
}

/* CSS .scanlines CLASS */

.scanlines:before {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: calc(var(--scan-width) * 1);
  z-index: calc(var(--scan-z-index) + 1);
  background: var(--scan-color);
  opacity: var(--scan-opacity);
  animation: scanline 6s linear infinite;
}

/* Apply the styles to the "after" pseudo-element of elements with the "scanlines" class */
.scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--scan-z-index);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--scan-color) 51%
  );
  background-size: 100% calc(var(--scan-width) * 2);
  animation: scanlines 3s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline {
    0% {
        transform: translate3d(0,200000%,0);
        /* // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; } */
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 50%;
        /* // bottom: 0%; // to have a continuous scanline move, use this line (here in 0% step) instead of transform and write, in &:before, { position: absolute; bottom: 100%; } */
    }
}