html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
@font-face {
  src: url('fonts/Fit-Regular-Testing.woff2') format("woff2"),
       url('fonts/Fit-Regular-Testing.woff') format("woff");
  font-family: 'Fit-Regular';
  font-style: normal;
  font-weight: normal;
}

.body wrapper {
  font-family: 'Fit-Regular', sans-serif;
  font-size: 100px;
}